<div class="rules__end rules__element">
    <p class="rules__paragraph">Les cartes qui ont fait l'objet d'une annonce sont exposées sur la table, elles peuvent être jouées à tout moment.</p>
    <p class="rules__paragraph">Il n'est possible de faire une annonce que lorsque l'on remporte le pli et seule une annonce à la fois, sauf pour le 10 d'atout qui peut se cumuler avec une autre annonce.</p>
    <p class="rules__paragraph">Aucune des deux cartes d'un couple annoncé ne peut servir pour annoncer un autre couple, mais elles peuvent servir pour annoncer un carré, le 250 ou le Brezin et réciproquement. Une ou des cartes « exposées » ne peuvent servir pour une nouvelle annonce que si une carte au moins provient de la main du joueur. Une carte et une seule d'un carré annoncé peut servir pour refaire un carré. Une carte jouée ne peut plus faire l'objet d'une annonce.</p>
    <p class="rules__paragraph">Seuls comptent les 10 et les as remportés, les plis en eux-mêmes n'ont aucune valeur : 10 points par 10 ou as.</p>
    <p class="rules__paragraph">Quand toutes les cartes du talon ont été ramassées, les joueurs reprennent les cartes étalées dans leur main et la partie se poursuit, sans pioche, jusqu'à épuisement des cartes, les annonces ne sont plus admises. On est alors obligé de jouer dans la couleur demandée ou de couper. </p>
    <p class="rules__paragraph">En atout il est obligatoire de monter</p>
</div>