{% block stylesheets %}
    <link rel="stylesheet" href="/css/rules/cards/cards.css">
{% endblock %}
<div class="steps__cards">
    <div class="steps__card">
        <img src="/images/svg/7_of_hearts.svg" alt="sept de coeur" class="steps__cards-img">
        <p class="steps__card-name">7</p>
    </div>
    <div class="steps__card">
        <img src="/images/svg/8_of_hearts.svg" alt="huit de coeur" class="steps__cards-img">
        <p class="steps__card-name">8</p>
    </div>
    <div class="steps__card">
        <img src="/images/svg/9_of_hearts.svg" alt="neuf de coeur" class="steps__cards-img">
        <p class="steps__card-name">9</p>
    </div>
    <div class="steps__card">
        <img src="/images/svg/jack_of_hearts.svg" alt="vallet de coeur" class="steps__cards-img">
        <p class="steps__card-name">Vallet</p>
    </div>
    <div class="steps__card">
        <img src="/images/svg/queen_of_hearts.svg" alt="dame de coeur" class="steps__cards-img">
        <p class="steps__card-name">Dame</p>
    </div>
    <div class="steps__card">
        <img src="/images/svg/king_of_hearts.svg" alt="roi de coeur" class="steps__cards-img">
        <p class="steps__card-name">Roi</p>
    </div>
    <div class="steps__card">
        <img src="/images/svg/10_of_hearts.svg" alt="dix de coeur" class="steps__cards-img">
        <p class="steps__card-name">10</p>
    </div>
    <div class="steps__card">
        <img src="/images/svg/ace_of_hearts.svg" alt="as de coeur" class="steps__cards-img">
        <p class="steps__card-name">As</p>
    </div>
</div>