{% extends 'base.html.twig' %}

{% block title %}En savoir plus{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/knowMore/knowMore.css">
{% endblock %}

{% block body %}
    <div class="know-more__berry">
        <h2 class="know-more__header">Le Berry</h2>
        <p class="know-more__paragraph">Le Berry est une province historique de la France de l'Ancien Régime.</p>
        <p class="know-more__paragraph">A cheval sur les départements du Cher et de l'Indre, les limites de ceux-ci ne correspondent cependant pas à celles de l'ancienne province.</p>
        <p class="know-more__paragraph">Ayant disparu avec la révolution française, l'identité berrichone a persisté jusqu'à aujourd'hui.</p>
        <a href="https://fr.wikipedia.org/wiki/Berry" class="know-more__link">Le Berry</a>
    </div>
{% endblock %}