.know-more__berry {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10%;
    padding: 15px;
    background-color: rgb(136, 172, 192);
}
.know-more__paragraph {
    margin: 0;
}
.know-more__link {
    margin: 20px 0;
}
.main {
    background-color: rgba(255, 255, 255, 0);
}