<div class="rules__introduction rules__element">
    <p class="rules__paragraph"><span class="rules__paragraph-header">Support :</span> 2 jeux de 32 cartes.</p>
    <p class="rules__paragraph"><span class="rules__paragraph-header">Nombre de joueurs :</span> 2</p>
    <p class="rules__paragraph"><span class="rules__paragraph-header">Le vainqueur :</span> Celui qui a le plus de points à la fin de la partie où 
    au moins un joueur dépasse les 1000 points.</p>
    <p class="rules__paragraph"><span class="rules__paragraph-header">La donne :</span> On distribue 9 cartes à chaque joueur, trois par trois, 
    puis la carte suivante (donc la dix-neuvième) est retournée et mise 
    sous le talon (la pioche). Seule cette carte est face visible au début 
    de la partie, elle détermine l'atout.</p>
    <p class="rules__paragraph"><span class="rules__paragraph-header">Qui commence :</span> Celui qui n'a pas distribué. A la donne suivante, 
    les rôles seront inversés.</p>
</div>