<div class="score-bowdlerized">
    <h2 class="score-bowdlerized_header">Score:</h2>
    <div class="score-bowdlerized_player">
        <h3 class="score-bowdlerized_header">J:</h3>
        <h3 class="score-bowdlerized_score">{{ situation.score.player1 }}</h3>
    </div>
    <div class="score-bowdlerized_player">
        <h3 class="score-bowdlerized_header">O:</h3>
        <h3 class="score-bowdlerized_score">{{ situation.score.player2 }}</h3>
    </div>
    <h4 class="score-bowdlerized_turn">Talon: {{ situation.stack|length }}</h4>
</div>