<div class="trump">
    {% if situation.trump is not null %}
        <h3 class="trump_header">Atout</h3>
        <img src={{ situation.trump.img }} alt="carte d'atout" class="trump_img card">
    {% endif %}
</div>