{% block stylesheets %}
    <link rel="stylesheet" href="/css/rules/declarations/declarations.css">
{% endblock %}

<div class="steps__declarations rules__element">
    <h3 class="rules__header">2. Les annonces :</h3>
    <p class="rules__paragraph">Si l'on remporte le pli, il est possible immédiatement après de faire une annonce.</p>
    <div class="steps__declaration">
        <img src="/images/couple.webp" alt="" class="declaration__img declaration__two-cards">
        <div class="declaration__box">
            <p class=".rules__p"><span class="rules__paragraph-header">a. Les couples, soit dame et roi du même symbole :</span> 20 points. </p>
            <p class=".rules__p">40 points pour le couple d'atout. </p>
        </div>
    </div>
    <div class="steps__declaration">
        <img src="/images/four.webp" alt="" class="declaration__img  declaration__four-cards">
        <div class="declaration__box">
            <p class=".rules__p"><span class="rules__paragraph-header">b. Les carrés, soit 4 cartes de même catégorie :</span></p>
            <p class=".rules__p">Valets : 40 points,</p>
            <p class=".rules__p">Dames : 60 points,</p>
            <p class=".rules__p">Rois : 80 points,</p>
            <p class=".rules__p">As : 100 points.</p>
            <p class=".rules__p">Les autres carrés n'ont aucune valeur.</p>
        </div>
    </div>
    <div class="steps__declaration">
        <img src="/images/sevenTrump.webp" alt="" class="declaration__img  declaration__one-card">
        <div class="declaration__box">
            <p class=".rules__p"><span class="rules__paragraph-header">c. Chacun des deux 7 d'atout :</span> 10 points.</p>
            <p class=".rules__p">Lorsqu'un 7 d'atout est annoncé, il est possible de l'échanger contre la carte ayant déterminé l'atout 
            retournée sous la pioche. </p>
            <p class=".rules__p">Cette dernière se place avec les autres annonces, toujours retournée.</p>
            <p class=".rules__p">Si le joueur qui distribue retourne le 7 d'atout, c'est luiqui marque automatiquement 10 points.</p>
        </div>
    </div>
    <div class="steps__declaration">
        <img src="/images/250.webp" alt="" class="declaration__img  declaration__five-cards">
        <div class="declaration__box">
            <p class=".rules__p"><span class="rules__paragraph-header">d. Le 250, soit 10, valet, dame, roi, as d'atout :</span> 250 points.</p>
        </div>
    </div>
    <div class="steps__declaration">
        <img src="/images/littleBrezin.webp" alt="" class="declaration__img  declaration__two-cards">
        <div class="declaration__box">
            <p class=".rules__p"><span class="rules__paragraph-header">e. Le demi Brezin, soit valet de pique et dame de carreau :</span> 40 points.</p>
        </div>
    </div>
    <div class="steps__declaration">
        <img src="/images/brezin.webp" alt="" class="declaration__img  declaration__four-cards">
        <div class="declaration__box">
            <p class=".rules__p"><span class="rules__paragraph-header">f. Le Brezin, soit deux valets de pique et deux 
            dames de carreau :</span> 500 points.</p>
            <div>
            <p class=".rules__p">On peut très bien, et c'est souvent le cas, annoncer d'abord le Brezin, puis le double Brezin, à condition de n'avoir joué aucune des deux cartes du Brezin annoncé.</p>
        </div>
    </div>
</div>