.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(90, 188, 118);
    height: calc(100vh - 80px);
}
.result-trick-game_h3 {
    text-align: center;
}
.result-trick-game_cards {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.result-trick-game_card {
    width: 45%;
}
.result-trick-game_img {
    width: 90%;
}

@media screen and (max-width: 1200px){
    .result-trick-game_card {
        width: 45%;
    }
}

@media screen and (min-width: 1201px){
    .result-trick-game_card {
        width: 25%;
    }
}